.one{
    background-color: red;
    margin: 5px;
    width: 100px;
    height: 100px;
   

  
}

.two{
    background-color: black;
    margin: 5px;
    width: 100px;
    height: 100px;
    position: relative;
    left:200px;
  
  
}
.three{
    background-color: yellow;
    margin: 5px;
    width: 100px;
    height: 100px;
 
  
}

.four{
    background-color: red;
    margin: 5px;
    width: 100px;
    height: 100px;
  
}

.five{
    background-color: black;
    margin: 5px;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 200px;

   
  
}

.six{
    background-color: yellow;
    margin: 5px;
    width: 100px;
    height: 100px;
 
}

.container1{
    border: 1px solid   black;
    margin-left: 100px;

    
   
}

.container2{
    border: 1px solid   black;
    margin-left: 100px;
    position: relative;
  
    

}