/* Universal selector */

*{
    color: brown;
}

/* Element Selector */

h1{
    color: red;
}


/* Class Selector */

.para{
    color: green;
}

/* ID Selector */

#paragraph{
    color: blue;
}

/* Descandant Selector */

div p{
    color:black;
}

/* Child Selector */

div > p{
    text-decoration: underline;
}

/* Adjacent Sibling Selector */

h2+p{
    font-family: sans-serif;
}

/* General Sibling Selector */

section h2~p{
    font-size: 30px;
}

/* Presence Selector */ 

section input[type]{ 
    background-color: yellowgreen;
}

/* Attribute value Selector */

section input[type="text"]{
    background-color: orange;
}

/* Subsring Matching Selector */

section [href^="https"]{     
    font-weight: bold;
}

/* WildCard Selector 
    ^ refers starts with
    $ refers ends with
    * refers contains
*/

section [class*="my"]{
    background-color: lightpink;
}

/* Psuedo Class Selector */

/* Hover */

section p:hover{
    background-color: rgb(131, 242, 245);
}

/* Focus */

section input:focus{
    background-color: rgb(131, 242, 245);
}

/* First-child */

section p:first-child{
    color: orangered;
}

/* Last-child */

section p:last-child{
    color: orangered;
}

/* Not */

section p:not(.my-para){
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Before */

section h3::before{
    content: "😎";
}

/* After */ 

section h3::after{
    content: "😎";
}

/* First Letter */

section h4::first-letter{
    color: red;
}

/* First Line */

section h4::first-line{
    color: red;
}


/* Float */

#img1{
    float: left;
}

#img2{
    /* float: right; */
    position: absolute;
    top:283%;
    left:80%;
    height: 27vh;
    
    /* when the image is in float, if it not inside the container, we set the display to flow-root , then it will flow inside the container */
}

section{
    border: 1px solid black;
}




#img3{
    transform: rotate(360deg);
}